<mat-drawer-container style="height: 100%" autosize>
  <mat-drawer #drawer mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div>
    <button mat-flat-button class="btn-primary" (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <button mat-flat-button>Basic</button>
    <button mat-flat-button class="btn-primary">Primary</button>
    <button mat-flat-button class="btn-secondary">secondary</button>
    <button mat-flat-button class="btn-tertiary">tertiary</button>
    <button mat-flat-button color="btn-error">error</button>
    <button mat-flat-button disabled>Disabled</button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
