<mat-dialog-content>
  <mat-form-field class="w-100">
    <input
      type="text"
      placeholder="Pick one"
      matInput
      [matAutocomplete]="auto"
    />
    <!-- [formControl]="myControl" -->
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of options; track option) {
      <mat-option [value]="option">
        <mat-icon>schedule</mat-icon>
        <span>{{ option }}</span>
      </mat-option>
      }
    </mat-autocomplete>

    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-nav-list>
    <a mat-list-item class="flex gap" routerLink="/">This the search term</a>
    <a mat-list-item class="flex gap" routerLink="/">This the search term</a>
    <a mat-list-item class="flex gap" routerLink="/">This the search term</a>
    <a mat-list-item class="flex gap" routerLink="/">This the search term</a>
    <a mat-list-item class="flex gap" routerLink="/">This the search term</a>
    <a mat-list-item class="flex gap" routerLink="/">This the search term</a>
  </mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    <span>Esc</span>
  </button>
</mat-dialog-actions>
