@use "@angular/material" as mat;
@use "assets/themes/light" as light;
@use "assets/themes/dark" as dark;
@use "assets/themes/reusable-classes" as reusable;

@include mat.core();

$dark-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$red-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($dark-theme);

html {
  @include mat.all-component-themes(light.$theme);
  @include reusable.reusable(light.$theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark {
  @include mat.all-component-themes(dark.$theme);
  @include reusable.reusable(dark.$theme);
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap {
  gap: 1rem;
}

.justify-center {
  justify-content: space-center;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.m-3 {
  margin: 1rem;
}

.my-3 {
  margin: 1rem auto;
}

.pb-3 {
  padding-bottom: 1rem;
}

.autofill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 1rem;
}

.overflowY-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.maxh-500 {
  max-height: 500px;
}
